<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whc.aip.member.dao.member.WeiSupperManMapper" >
  <resultMap id="BaseResultMap" type="com.whc.aip.member.model.member.WeiSupperMan" >
    <result column="SUMA_ID" property="sumaId" jdbcType="VARCHAR" />
    <result column="MEMBER_ID" property="memberId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SUMA_ID, MEMBER_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.whc.aip.member.model.member.WeiSupperManExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from WEIGATE_SUPPERMAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.whc.aip.member.model.member.WeiSupperManExample" >
    delete from WEIGATE_SUPPERMAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.whc.aip.member.model.member.WeiSupperMan" >
    <selectKey resultType="java.lang.String" keyProperty="sumaId" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into WEIGATE_SUPPERMAN (SUMA_ID, MEMBER_ID)
    values (#{sumaId,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.whc.aip.member.model.member.WeiSupperMan" >
    <selectKey resultType="java.lang.String" keyProperty="sumaId" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into WEIGATE_SUPPERMAN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      SUMA_ID,
      <if test="memberId != null" >
        MEMBER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{sumaId,jdbcType=VARCHAR},
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.whc.aip.member.model.member.WeiSupperManExample" resultType="java.lang.Integer" >
    select count(*) from WEIGATE_SUPPERMAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update WEIGATE_SUPPERMAN
    <set >
      <if test="record.sumaId != null" >
        SUMA_ID = #{record.sumaId,jdbcType=VARCHAR},
      </if>
      <if test="record.memberId != null" >
        MEMBER_ID = #{record.memberId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update WEIGATE_SUPPERMAN
    set SUMA_ID = #{record.sumaId,jdbcType=VARCHAR},
      MEMBER_ID = #{record.memberId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>